:root {
    --side-bar-bg-color: #666;
    --side-bar-font-color: #fff;
    --side-bar-border:1px solid #555;
    --main-color: #444;
    --title-bar-bg-color: var(--main-color);
    --foot-bar-bg-color: #eee;
    --body-bg-color: #111;
    --line-border: 1px solid #222;
    --bar-border: 1px solid #111;
    --font-color: #eee;
    --font-color-light: #eee;
    --font-color-dark: #aaa;
    --btn-bg-color: #666;
    --btn-color: #fff;
    --btn-border: 1px solid #444;
    --btn-hover-bg-color: #777;
    --btn-active-bg-color: #444;
    --tr-hover-bg-color: #888;
    --tr-odd-bg-color: #292929;
}