:root {
    --main-color: #fff;
    --side-bar-bg-color: var(--main-color);
    --side-bar-font-color: #2302CF;
    --side-bar-border: 1px solid #eee;
    --menu-bg-color: var(--main-color);
    --title-bar-bg-color: #f1f1f1;
    --foot-bar-bg-color: var(--main-color);
    --body-bg-color: var(--main-color);
    --line-border: 1px solid var(--main-color);
    --bar-border-color: #eee;
    --bar-border: 1px solid var(--bar-border-color);
    --font-color: #555;
    --font-color-light: #ddd;
    --font-color-dark: #111;
    --btn-bg-color: var(--main-color);
    --btn-color: #111;
    --btn-border: 0px solid var(--bar-border-color);
    --btn-hover-bg-color: #f8f8f8;
    --btn-active-bg-color: #ddd;
    --tr-hover-bg-color: #ddd;
    --tr-odd-bg-color: #f5f5f5;
    --tr-even-bg-color: var(--tr-odd-bg-color);
    --brag-box-bg-color: #fff;
    --brag-box-border-color: #ddd;
    --menu-border-color: #cecece;
    --login-bg-color: var(--title-bar-bg-color);
}