:root {
    --main-color: #fff;
    --side-bar-bg-color: #fff;
    --side-bar-font-color: #2997ff;
    --side-bar-font-color-2: #aaa;
    --side-bar-border: 1px solid #eee;
    --side-bar-l-bg-color: var(--blue-2);
    --side-bar-l-font-color: #fff;
    --title-bar-bg-color: #eee;
    --foot-bar-bg-color: var(--main-color);
    --body-bg-color: var(--main-color);
    --line-border: 0px solid var(--main-color);
    --bar-border-color: #eee;
    --bar-border: 1px solid var(--bar-border-color);
    --font-color: #666;
    --font-color-light: #aaa;
    --font-color-dark: #333;
    --btn-bg-color: #eee;
    --btn-color: var(--font-color);
    --btn-border: 0px solid var(--bar-border-color);
    --btn-hover-bg-color: #ddd;
    --btn-active-bg-color: #eee;
    --tr-hover-bg-color: #eee;
    --tr-odd-bg-color: #f5f5f5;
    --tr-even-bg-color: var(--tr-odd-bg-color);
    --brag-box-bg-color: #fff;
    --brag-box-border-color: #ddd;
    --menu-bg-color: #fff;
    --menu-border-color: #D0D0D0;
    --login-bg-color: #eee;
    --dialog-bg-color: #eee;
}