:root {
    --side-bar-bg-color: #fff;
    --side-bar-font-color: #2302CF;
    --side-bar-border:1px solid #eee;
    --main-color: #E6E6E6;
    --title-bar-bg-color: var(--main-color);
    --foot-bar-bg-color: var(--main-color);
    --body-bg-color: #fdfdfd;
    --line-border: 1px solid var(--main-color);
    --bar-border: 1px solid #ccc;
    --font-color: #555;
    --font-color-light: #ddd;
    --font-color-dark: #111;
    --btn-bg-color: #fff;
    --btn-color: #111;
    --btn-border: 1px solid #ccc;
    --btn-hover-bg-color: #f1f1f1;
    --btn-active-bg-color: #ddd;
    --tr-hover-bg-color: #eee;
    --tr-odd-bg-color: #f5f5f5;
}