:root {
    --header-h: 75px
}

#login-view {
    position: fixed;
    inset: 0;
    background: var(--login-bg-color);
}

h1 {
    color: var(--blue-1);
    margin: 0;
    padding: 0;
}

.header {
    padding: 0px 20px;
    -webkit-app-region: drag;
    background: linear-gradient(135deg, var(--side-bar-l-bg-color) 0%, rgba(41, 151, 255, 0.8) 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 24px;
    padding: 12px 0;
    margin: 0;
    color: #fff;
    font-weight: 600;
}

.header img {
    float: left;
    max-height: 28px;
    margin-right: 10px;
}

.input-quarter {
    width: calc(25% - 10px) !important;
}

.title-bar {
    height: var(--title-bar-h);
    -webkit-app-region: drag;
    line-height: var(--title-bar-h);
    padding-right: 15px;
    text-align: right;
    font-size: 13px;
    color: var(--font-color);
    background: var(--title-bar-bg-color);
}

.login-main {
    position: absolute;
    top: calc(var(--title-bar-h) + 5px);
    left: 0;
    height: calc(100% - var(--title-bar-h) - 20px);
    width: 100%;
    overflow-y: auto;
    background: var(--login-bg-color);
}

#color-group {
    padding: 5px 0px;
    text-align: center;
}

#os-group {
    width: 50%;
    float: left;
    text-align: center;
}

#os-group img {
    border: 2px solid var(--dialog-bg-color);
    width: 38px;
}
