:root {
    --header-h: 75px
}

body {
    background: var(--login-bg-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    /* margin: 5px 10px; */
    color: var(--blue-1);
    margin: 0;
    padding: 0;
}

.header {
    padding: 0px 15px;
    -webkit-app-region: drag;
}

.header h1 {
    font-size: calc(var(--header-h));
    padding: 0;
    margin: 0;
}

.header img {
    float: left;
    max-height: var(--header-h);
}

.input-quarter {
    width: calc(25% - 10px) !important;
}

td {
    background: #fff;
}

.title-bar {
    height: var(--title-bar-h);
    -webkit-app-region: drag;
    line-height: var(--title-bar-h);
    padding-right: 15px;
    text-align: right;
    font-size: 13px;
    color: var(--font-color);
}

.main {
    position: fixed;
    top: calc(var(--title-bar-h) + 5px);
    /* top: calc(var(--title-bar-h) + var(--header-h) + 10px); */
    left: 0;
    height: calc(100% - var(--title-bar-h) - 20px);
    width: 100%;
    overflow-y: auto;
    background: var(--login-bg-color);
}

#color-group {
    /* width: 50%;
    float: left;
    height: 37px;
    line-height: 50px; */
    padding: 5px 0px;
    text-align: center;
}

#os-group {
    width: 50%;
    float: left;
    text-align: center;
}

#os-group img {
    border: 2px solid var(--dialog-bg-color);
    width: 38px;
}