:root {
    --blue-1: #3071E3;
    --blue-2: #2997ff;
    --blue-3: #0068d1;
    --blue-4: #2302CF;
    --title-bar-h: 38px;
    --tool-bar-h: 50px;
    --side-bar-r-w: 300px;
    --side-bar-l-w: 120px;
    --side-bar-padding: 0px;
    --foot-bar-h: 0px;
    --dialog-w: calc(100% - 160px);
    --btn-radius: 3px;
    --box-radius: 3px;
    --input-radius: 3px;
    /* --btn-h: 26px; */
    --btn-font-size: 15px;
    --title-bar-padding: 78px;
    --drag-box-h: 60%;
    --box-shadow: 0 9px 30px -6px rgba(0, 0, 0, .2), 0 18px 20px -10px rgba(0, 0, 0, .04), 0 18px 20px -10px rgba(0, 0, 0, .04), 0 10px 20px -10px rgba(0, 0, 0, .04);
}


/* 滚动条样式 */

::-webkit-scrollbar {
    background: var(--tr-odd-bg-color);
    width: 8px;
    height: 12px;
    /* border-left: var(--bar-border); */
}

::-webkit-scrollbar-thumb {
    background: var(--blue-2);
    border-radius: 4px;
}

button {
    text-align: center;
    min-width: 32px;
    /* height: var(--btn-h); */
    /* line-height: var(--btn-h - 2px); */
    border-radius: var(--btn-radius);
    background: var(--btn-bg-color);
    color: var(--btn-color);
    border: var(--btn-border);
    font-size: 14px;
    /* font-weight: bold; */
    padding: 3px;
    margin: 0px;
    outline: none;
}

button:hover {
    background: var(--btn-hover-bg-color);
}

button:active {
    background: var(--btn-active-bg-color);
}

button label {
    display: block;
    float: left;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none;
    color: var(--font-color);
    cursor: pointer;
}

a:hover {
    color: var(--font-color);
}

a:active {
    color: var(--font-color);
}

p {
    margin: 0;
}

input {
    font-size: var(--btn-font-size);
    height: 30px;
    background: #fff;
    color: var(--blue-4);
    border: none;
    border-radius: var(--input-radius);
    padding-left: 5px;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: var(--font-color-light);
    font-size: 16px;
}

.c-2 {
    width: calc(20% - 20px);
    padding: 0px 0px 10px 17px;
    display: grid;
    float: left;
}

.c-2-5 {
    width: calc(25% - 20px);
    padding: 0px 0px 10px 16px;
    display: grid;
    float: left;
}

.c-3 {
    width: calc(33.33% - 20px);
    /* padding: 5px 10px; */
    padding: 0px 0px 10px 15px;
    display: grid;
    float: left;
}

.c-5 {
    width: calc(50% - 20px);
    padding: 0px 0px 10px 10px;
    display: grid;
    float: left;
}

.c-10 {
    width: calc(100% - 20px);
    padding: 0px 0px 10px 0px;
    display: grid;
    float: left;
}

.box {
    border-radius: var(--box-radius);
    /* border: 1px solid #ddd; */
    /* text-align: center; */
    background: var(--blue-1);
    color: #fff !important;
    padding: 15px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* border: 1px solid #333; */
}

.box:hover {
    background: var(--blue-2);
    box-shadow: var(--box-shadow);
}

.box:active {
    background: var(--blue-3);
    box-shadow: none;
}

.box a {
    overflow: hidden;
}

.box label {
    font-size: 12px;
    cursor: pointer;
}

.box img {
    margin-top: -30px;
    margin-right: -3px;
    margin-bottom: -8px;
    float: right;
    height: 80px;
    /* margin-right: 10px; */
    /* padding: 5px;
    background: #fff;
    border-radius: 5px; */
}

.label-icon {
    font-size: 16px;
    font-weight: bold;
}

.input-half {
    width: calc(50% - 20px) !important;
}

.btn-half,
.btn-half-danger {
    width: calc(50% - 3px) !important;
    border: none;
}

.btn-half-danger {
    background: var(--blue-1);
    color: #fff !important;
}

.btn-half-danger:hover {
    background: var(--blue-2);
}

.btn-half-danger:active {
    background: var(--blue-3);
}

.dialog {
    /* 保证显示在顶层 */
    z-index: 99;
    background: var(--dialog-bg-color);
    position: fixed;
    /* width: calc(var(--dialog-w) - 20px); */
    /* left: calc(50% - var(--dialog-w) / 2); */
    width: calc(100% - var(--side-bar-l-w) * 2 - 20px);
    left: var(--side-bar-l-w);
    padding: 10px;
    top: 0px;
    text-align: center;
    border: 1px solid var(--menu-border-color);
    border-top: none;
    display: none;
    color: var(--font-color);
    /* border-radius: 10px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: var(--box-shadow);
}

.dialog input {
    width: calc(100% - 10px);
    margin-bottom: 15px;
}

.dialog button {
    height: 32px;
}

.dialog label {
    width: 20px !important;
}

.dialog p {
    text-align: left;
    margin-bottom: 12px;
    padding-left: 5px;
}

table,
tbody {
    width: 100%;
    padding: 0;
    border-spacing: 0px;
}

tr {
    margin: 0;
}

tr:hover {
    background: var(--tr-hover-bg-color) !important;
}


/* .no-hover {} */

.no-hover:hover {
    background: none !important;
}

td {
    /* border-bottom: var(--line-border); */
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 0px;
    text-align: right;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.td-num {
    text-align: left;
    width: 26px;
    /* padding-left: 0px; */
    padding-right: 0px !important;
    font-size: 12px;
    color: var(--font-color-light);
    border-right: var(--bar-border);
}

.td-icon {
    padding-right: 0px;
    text-align: center;
    width: 14px;
}

.td-head {
    text-align: left;
    padding-left: 5px;
}

.td-download {
    width: 14px;
    font-weight: bold;
    /* background: #432; */
}

.td-download :hover {
    color: var(--blue-2);
}

.td-alert {
    width: 100%;
    padding: 10px;
    text-align: center;
}


/* 奇数行 odd*/


/* 偶数数行 even*/

table tr:nth-child(even) {
    background: var(--tr-even-bg-color);
}


/* 行 */

.r {
    width: 100%;
}

p {
    padding: 12px;
}

.txt-danger {
    color: rgb(226, 89, 89);
}

.txt-warning {
    color: rgb(243, 192, 98);
}

.txt-success {
    color: rgb(112, 199, 112);
}

.txt-info {
    color: var(--blue-2);
}

.drag_box {
    position: fixed;
    top: calc(50% - var(--drag-box-h) / 2);
    width: calc(100% - var(--side-bar-r-w) - var(--side-bar-l-w) - 57px);
    left: calc(10px + var(--side-bar-l-w));
    height: var(--drag-box-h);
    border: 2px dashed var(--brag-box-border-color);
    background: var(--brag-box-bg-color);
    text-align: center;
    display: none;
    border-radius: 5px;
    color: var(--font-color-light);
    padding: 10px 17px;
    /* box-shadow: var(--box-shadow); */
    /* 透明度 */
    opacity: 1.0;
    user-select: none;
}

.drag_box label {
    float: right;
    cursor: pointer;
}

.drag_box h1 {
    margin: 0;
}

.drag_box img {
    margin-top: calc(50% - 100px);
    /* width:50%; */
}

.full-w {
    width: 100%;
}

.img-loading {
    /* width: 100%; */
    height: 10px;
}


/* tools */

.txt-center {
    text-align: center !important;
}

.txt-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.font-light {
    color: var(--font-color-light) !important;
}


/* color  */

.btn-group {
    margin-bottom: 13px;
    text-align: left;
}

.btn-group button {
    margin: 0px 5px;
    border-radius: 16px;
    color: #fff;
    border: 2px solid #fff;
}

.active {
    border: 2px solid #000 !important;
}


/* bg-0 */

.bg-color-0 {
    background: var(--blue-1);
}

.bg-color-0:hover {
    background: var(--blue-2);
}

.bg-color-0:active {
    background: var(--blue-3);
}


/* bg-1 */

.bg-color-1 {
    background: OrangeRed;
}

.bg-color-1:hover {
    background: Tomato;
}

.bg-color-1:active {
    background: Red;
}


/* bg-2 */

.bg-color-2 {
    background: #FFD700;
}

.bg-color-2:hover {
    background: #EEC900;
}

.bg-color-2:active {
    background: #CDAD00;
}


/* bg-3 */

.bg-color-3 {
    background: #339933;
}

.bg-color-3:hover {
    background: #339933ce;
}

.bg-color-3:active {
    background: #006633;
}


/* bg-4 */

.bg-color-4 {
    background: #8A2BE2;
}

.bg-color-4:hover {
    background: #9370DB;
}

.bg-color-4:active {
    background: #A020F0;
}

a.link {
    text-decoration: underline;
}